@page "/APPAPVIS"
@using System.Text.Json
@using TrackMobile.Models

<h1 style="text-align: center">Appareils</h1>
<p style="text-align: center; margin: 10">@MessageStatut</p>

<button @onclick="rechercherAppareils">Rechercher les appareils</button>

<table class="table">
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Désignation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appareil in ListeAppareils)
        {
            <tr>
                <td>@appareil.numeroAppareil</td>
                <td>@appareil.designationAppareil</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private string MessageStatut;
    private List<AppareilVis> ListeAppareils = new();

    private async void rechercherAppareils()
    {
        MessageStatut = "Chargement ...";

        HttpClient clientHttp = new();
        clientHttp.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", "eyJhbGciOiJIUzI1NiJ9.eyJJZCI6ImI2NGQ5N2RkLTE4YTAtNDJkMi1hZTNkLWViM2Q5ZDRlYTQ5MCIsInN1YklkIjoiNzYiLCJzdWIiOiJLUCIsImp0aSI6IjFkZGEyODRmLTZjZTQtNGRlMC04NDEzLTk1NGI2YWI2YWM0MCIsIlByb2ZpbEVRTSI6IjYiLCJQcm9maWxMQUIiOiIxMCIsIm5iZiI6MTcxOTQ5ODE1OSwiZXhwIjoyMDE5NTAxNzU5LCJpYXQiOjE3MTk0OTgxNTksImlzcyI6IklOT0tZIiwiYXVkIjoiUVVBTElNUyJ9.TaF3QoT2AooxmPD6l_vXWFCnKDguU0pGiaGymo4_6mg");
        try{
            ReponseAPI reponseAPI = await clientHttp.GetFromJsonAsync<ReponseAPI>("http://192.168.39.67:7002/8.1b/app/appareil/vis");
            ListeAppareils = JsonSerializer.Deserialize<List<AppareilVis>>(reponseAPI.Contenu);
            MessageStatut = $"Recherche terminée ({ListeAppareils.Count} appareils)";
            StateHasChanged();
        } catch (Exception ex)
        {
            MessageStatut = $"Erreur : {ex.Message}";
        }

        StateHasChanged();
    }

}
